// Variables
:root {
  --neutral-50: #eff0f0;
  --primary-gold-50: #f8f3eb;
  --primary: #af8c45;
  --primary-2: #b68a36;
  --neutral-100: #cdcfd2;

  --primary-color-light: #ffffff;
  --primary-color-warning: #fef5e7;
  --primary-color-info: #e9f0ff;
  --primary-color-danger: #fdeded;
  --primary-color-success: #edf5ef;
  --primary-color-suspended: #fbedfd;
  --primary-color-deleted: #f0f1f3;

  // Text
  --primary-text-color: #414042;
  --primary-text-color-1: #333333;
  --primary-text-color-light: #ffffff;
  --primary-text-color-danger: #eb4f49;
  --primary-text-color-warning: #f29f0c;
  --primary-text-color-info: #276cff;
  --primary-text-color-suspended: #d946ef;
  --primary-text-color-deleted: #37404c;
  --secondary-text-color: #676668;
  --secondary-text-color-2: #7a797b;
  --secondary-text-color-3: #475363;
  --neutral-500: #5f646d;

  --primary-text-color-success: #4b9d5c;
  --primary-border-color: #ececec;
  --primary-900: #02110c;

  //Inputs
  --input-border-color: #797e86;
  --color-background-disabled: #e1e3e5;
  --input-border-disabled: #797E86  ;
  --placeholder-disabled: #5D3B26  ;
  --color-text-disabled: #797e86;
  --color-placeholder:  #F7F7F7;
}
